$primary: #303135;
$secondary: #495783;
// $secondary: #5c6069;
// $secondary: #457bcc;
// $secondary: #3986f9; old secondary
$subtext: #bab3b3;
$javascript: #F0DB66;
$django: #00AB7C;
$sass: #D56698;
$websocket: #FF6528;
$bootstrap: #593D78;
$flask: #E3192E;
@mixin noDrag {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap");

/* Media queries */
$screen-sm-min: 1386px;
$screen-m-min: 443px;
$screen-lg-min: 992px;
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
        // .bottom-container {
        //     margin: 0;
        //     justify-content: center;
        // }
        
        
    }
}

@mixin m {
    @media (max-width: #{$screen-m-min}) {
        @content;
    }
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
html, body {
    margin: 0;
    
    width: 100%;
    height: 100%;
}
body {
    overflow-x: hidden;
    background-color: $primary;
}
.container{
    width: 100%;
    height: 100vh;
}
.hero-content{
    text-align: center;
    z-index: 9999;
    margin-bottom: 100px;
}
.top {
    background-color: $secondary;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    // z-index: -1;
    
}
// .bg-img {
//     background-image: url('../images/background.jpg');
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
.top-nav{
    // height: 90px;
    height: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $secondary;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    .nav-title {
        color: white;
        // display: flex;f
        font-size: 2.5rem;
        // flex-direction: column;
        font-weight: 800;
        line-height: 35px;
        margin-left: 15px;
        transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
        // transition-delay: 0.2s;
        transition-duration: 500ms;
    }
    .nav-icons {
        transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 500ms;
        color: white;
        // transition-delay: 0.2s;
        display: flex;
        flex-wrap: nowrap;
        padding-left: 10px;
        span {
            margin-right: 16px;
            &:hover {
                color: black;
            }
        }
    }
}


.profile-pic {
    z-index: 999;
}
.hide-title {
    transform: translate(-110%);
    -webkit-transform: translate(-110%);   
}
.hide-icons {
    transform: translate(105%);
    -webkit-transform: translate(105%);   
}
.hide{
    display: none;
}
.image {
    border-radius: 9999px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    // display: block;
    // margin-bottom: 75px;
    // box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}
.bottom-container {
    max-width: 1400px;
    // min-width: 730px;
    margin: auto;
    // padding: 0px 100px;
    // width: 70%;
    background-color: $primary;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
    // flex-wrap: wrap;
    // flex-direction: row;
    // z-index: -1;
}
.header {
    // margin-top: 75px;
    color: white;
    font-size: 4.5rem;
    font-weight: 800;
    z-index: 9999;
}
.sub-header {
    color: $subtext;
    z-index: 9999;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.icons {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $subtext;
    span {
        margin: 8px;
        &:hover {
            color: $primary;
        }
    }
}
.email {
    display: flex;
    position: relative;
    flex-direction: column;
    &:hover{
        .email-hover{
            opacity: 0.8;
            display: block;
        }
    }
}
.email-hover {
    position: absolute;
    display: none;
    width: 166px;
    text-align: center;
    background-color: #2a2b2c;
    border-radius: 8px;
    color:$subtext;
    opacity: 0;
    
    // transition: opacity 0.2s;
}
.tooltip {
    // position: absolute;
    border-radius: 8px;
    background-color: #2a2b2c;
    color:$subtext;
    opacity: 0;
    &:hover{
        opacity: 0.8;
    }
}
.on-body{
    top: 80%;
    right: -74px;
    margin: 8px 0px;
    padding: 5px 3px;
}
.on-nav{
    top: 80%;
    right: 0px;
    margin: 6px 0px;
    padding: 3px 2px;
}

.javascript {
    color: $javascript;
}
.django {
    color: $django;
}
.sass {
    color: $sass;
}
.websocket {
    color: $websocket;
}
.bootstrap {
    color: $bootstrap;
}
.flask {
    color: $flask;
}
.arrow {
    margin-top: -8em;
    width: 100%;
    position:static;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    svg {
        cursor: pointer;
    }
}
#project-heading{
    color: white;
    font-weight: 400;
    letter-spacing: 4px;
    @include sm{
            text-align: center;

    }
}
.location{
    width: 100%;
    margin-top: 100px;
    height: 100px;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    @include sm{
        justify-content: center
    };
    .project {
        max-width: 650px;
        min-width: 300px;
        max-height: 500px;
        @include sm{
            padding: 10px;
        }
        border-radius: 20px;
        margin: 16px 8px 16px 8px; 
    }
    .project-details{
        display: flex;
        flex-direction: row;
        padding: 15px 0px 0px 0px;
        align-items: center;
        flex-wrap: nowrap;

        @include sm {
            flex-wrap: wrap;    
        }
        @include m {
            flex-direction: column;
            align-items: flex-start;
        }
        
        // justify-content: center;

        .all-tech{
            color: white;
            display: flex;
            margin: 10px 0px;
            flex-direction: row;
            @include noDrag();
            flex-shrink: 0;

            svg{
                transition: all 0.2s ease;
                opacity: 0.7;
                margin-right: 10px;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    .project-img {
        width: 100%;
        display:block;
        border-radius: 14px;
        // padding: 0px 15px;
    }

    .project-title{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 0;
        color: white;
        flex-grow: 1;


        @include sm {
            // text-align: center;
            // width: 100%;
        }

        .title {
            font-weight: 500;
        }

        .desc {
            font-size: 0.7em;
            color: rgba(white, 0.8);
            font-weight: 300;
            margin-bottom: 4px;
        }
    }
}

.github, .linkedin, .email{
    cursor: pointer;
    transition: color 0.2s;
    
}
.tech-icon {
    height: 1.8em;
    width: 1.8em;
}
.techname{
    font-size: 0.75rem;
    background-color: $primary;
    padding: 3px 6px;
    color: rgba(248, 248, 248, 0.914);
    border-radius: 6px;
    opacity: 0;
    bottom: -70%;
    position: absolute;
    transition: opacity 0.2s;
    // visibility: hidden;
}


.tech{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:hover {
        .techname{
            opacity: 0.8;
        }
    }
}
.project-footer {
    display: flex;
    align-items: center;
    color: $subtext;
    font-size: 0.75rem;
    .view-icons {
        opacity: 0.8;
        display: flex;
        align-items: center;
        transition: opacity 0.2s;
        &:hover{
            opacity: 1;
            color: white;
        }
    }
    .view-code, .view-demo {
        height: 1.2em;
        width: 1.2em;
        color: $subtext;
        margin-right: 5px;
        
    }
    .view-demo {
        margin-left: 10px;
        height: 1.4em;
        width: 1.4em;
    }

}

.last-name-nav {
    letter-spacing: 2px;
}

@media screen and (max-width: 668px) {
    .header{
        line-height: 60px;
    }
    .last-name {
        letter-spacing: 4px;
    }
     .sub-header{
         margin: 15px 0px 10px 0px;
     }
}



.footer{
    height: 150px;
    width: 100%;
    // background-color: darken(desaturate($secondary, 20%), 5%);
    background-color: #232323;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-icon{
    height: 2em;
    width: 2em;
    color: white;
    transition: color 0.2s;
    margin: 0px 10px;
    &:hover {
        color: $primary;
    }
}


@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }